name: Build App

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: |
          cd StockAnalyzer/electron
          npm install

      - name: Build App
        run: |
          cd StockAnalyzer/electron
          npm run build

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: StockAnalyzer/electron/dist

